@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-secondary: #0EA5E9;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: #1e293b; /* slate-800 equivalent */
}
